
<main class="form-signin">
    <form [formGroup]="accountForm" (ngSubmit)="register()">
      <h1 class="h3 mb-3 fw-normal">Register here</h1>
  
      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" formControlName="log_in_email" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" formControlName="log_in_pass_word" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
  
      <!-- <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div> -->
      <button class="w-100 btn btn-lg btn-primary" type="submit" [disabled]="!accountForm.valid">Register</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2017–2021 from bootstrap</p>
    </form>


    
  </main>